:root {
  /* GRAY */
  --color-gray-50: #ffffff;
  --color-gray-75: #fdfdfd;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d5d5d5;
  --color-gray-400: #b1b1b1;
  --color-gray-500: #909090;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #464646;
  --color-gray-800: #222222;
  --color-gray-900: #000000;

  /* BLUE */
  --color-blue-100: #e0f2ff;
  --color-blue-200: #cae8ff;
  --color-blue-300: #b5deff;
  --color-blue-400: #96cefd;
  --color-blue-500: #78bbfa;
  --color-blue-600: #59a7f6;
  --color-blue-700: #3892f3;
  --color-blue-800: #147af3;
  --color-blue-900: #0265dc;
  --color-blue-1000: #0054b6;
  --color-blue-1100: #004491;
  --color-blue-1200: #003571;
  --color-blue-1300: #002754;

  /* RED */
  --color-red-100: #ffebe7;
  --color-red-200: #ffddd6;
  --color-red-300: #ffcdc3;
  --color-red-400: #ffb7a9;
  --color-red-500: #ff9b88;
  --color-red-600: #ff7c65;
  --color-red-700: #f75c46;
  --color-red-800: #ea3829;
  --color-red-900: #d31510;
  --color-red-1000: #b40000;
  --color-red-1100: #930000;
  --color-red-1200: #740000;
  --color-red-1300: #590000;

  --color-green-100: #cef8e0;
  --color-green-200: #adf4ce;
  --color-green-300: #89ecbc;
  --color-green-400: #67dea8;
  --color-green-500: #49cc93;
  --color-green-600: #2fb880;
  --color-green-700: #15a46e;
  --color-green-800: #008f5d;
  --color-green-900: #007a4d;
  --color-green-1000: #00653e;
  --color-green-1100: #005132;
  --color-green-1200: #053f27;
  --color-green-1300: #0a2e1d;

  --color-orange-100: #ffeccc;
  --color-orange-200: #ffdfad;
  --color-orange-300: #fdd291;
  --color-orange-400: #ffbb63;
  --color-orange-500: #ffa037;
  --color-orange-600: #f68511;
  --color-orange-700: #e46f00;
  --color-orange-800: #cb5d00;
  --color-orange-900: #b14c00;
  --color-orange-1000: #953d00;
  --color-orange-1100: #7a2f00;
  --color-orange-1200: #612300;
  --color-orange-1300: #491901;

  --color-celery-100: #cdfcbf;
  --color-celery-200: #aef69d;
  --color-celery-300: #96ee85;
  --color-celery-400: #72e06a;
  --color-celery-500: #4ecf50;
  --color-celery-600: #27bb36;
  --color-celery-700: #07a721;
  --color-celery-800: #009112;
  --color-celery-900: #007c0f;
  --color-celery-1000: #00670f;
  --color-celery-1100: #00530d;
  --color-celery-1200: #00400a;
  --color-celery-1300: #003007;

  --color-chartreuse-100: #dbfc6e;
  --color-chartreuse-200: #cbf443;
  --color-chartreuse-300: #bce92a;
  --color-chartreuse-400: #aad816;
  --color-chartreuse-500: #98c50a;
  --color-chartreuse-600: #87b103;
  --color-chartreuse-700: #769c00;
  --color-chartreuse-800: #678800;
  --color-chartreuse-900: #577400;
  --color-chartreuse-1000: #486000;
  --color-chartreuse-1100: #3a4d00;
  --color-chartreuse-1200: #2c3b00;
  --color-chartreuse-1300: #212c00;

  --color-cyan-100: #c5f8ff;
  --color-cyan-200: #a4f0ff;
  --color-cyan-300: #88e7fa;
  --color-cyan-400: #60d8f3;
  --color-cyan-500: #33c5e8;
  --color-cyan-600: #12b0da;
  --color-cyan-700: #019cc8;
  --color-cyan-800: #0086b4;
  --color-cyan-900: #00719f;
  --color-cyan-1000: #005d89;
  --color-cyan-1100: #004a73;
  --color-cyan-1200: #00395d;
  --color-cyan-1300: #002a46;

  --color-fuchsia-100: #ffe9fc;
  --color-fuchsia-200: #ffdafa;
  --color-fuchsia-300: #fec7f8;
  --color-fuchsia-400: #fbaef6;
  --color-fuchsia-500: #f592f3;
  --color-fuchsia-600: #ed74ed;
  --color-fuchsia-700: #e055e2;
  --color-fuchsia-800: #cd3ace;
  --color-fuchsia-900: #b622b7;
  --color-fuchsia-1000: #9d039e;
  --color-fuchsia-1100: #800081;
  --color-fuchsia-1200: #640664;
  --color-fuchsia-1300: #470e46;

  --color-indigo-100: #edeeff;
  --color-indigo-200: #e0e2ff;
  --color-indigo-300: #d3d5ff;
  --color-indigo-400: #c1c4ff;
  --color-indigo-500: #acafff;
  --color-indigo-600: #9599ff;
  --color-indigo-700: #7e84fc;
  --color-indigo-800: #686df4;
  --color-indigo-900: #5258e4;
  --color-indigo-1000: #4046ca;
  --color-indigo-1100: #3236a8;
  --color-indigo-1200: #262986;
  --color-indigo-1300: #1b1e64;

  --color-magenta-100: #ffeaf1;
  --color-magenta-200: #ffdce8;
  --color-magenta-300: #ffcadd;
  --color-magenta-400: #ffb2ce;
  --color-magenta-500: #ff95bd;
  --color-magenta-600: #fa77aa;
  --color-magenta-700: #ef5a98;
  --color-magenta-800: #de3d82;
  --color-magenta-900: #c82269;
  --color-magenta-1000: #ad0955;
  --color-magenta-1100: #8e0045;
  --color-magenta-1200: #700037;
  --color-magenta-1300: #54032a;

  --color-purple-100: #f6ebff;
  --color-purple-200: #eeddff;
  --color-purple-300: #e6d0ff;
  --color-purple-400: #dbbbfe;
  --color-purple-500: #cca4fd;
  --color-purple-600: #bd8bfc;
  --color-purple-700: #ae72f9;
  --color-purple-800: #9d57f4;
  --color-purple-900: #893de7;
  --color-purple-1000: #7326d3;
  --color-purple-1100: #5d13b7;
  --color-purple-1200: #470c94;
  --color-purple-1300: #33106a;

  --color-seafoam-100: #cef7f3;
  --color-seafoam-200: #aaf1ea;
  --color-seafoam-300: #8ce9e2;
  --color-seafoam-400: #65dad2;
  --color-seafoam-500: #3fc9c1;
  --color-seafoam-600: #0fb5ae;
  --color-seafoam-700: #00a19a;
  --color-seafoam-800: #008c87;
  --color-seafoam-900: #007772;
  --color-seafoam-1000: #00635f;
  --color-seafoam-1100: #0c4f4c;
  --color-seafoam-1200: #123c3a;
  --color-seafoam-1300: #122c2b;

  --color-yellow-100: #fbf198;
  --color-yellow-200: #f8e750;
  --color-yellow-300: #f8d904;
  --color-yellow-400: #e8c600;
  --color-yellow-500: #d7b300;
  --color-yellow-600: #c49f00;
  --color-yellow-700: #b08c00;
  --color-yellow-800: #9b7800;
  --color-yellow-900: #856600;
  --color-yellow-1000: #705300;
  --color-yellow-1100: #5b4300;
  --color-yellow-1200: #483300;
  --color-yellow-1300: #362500;

  --bg-base: var(--color-gray-200);
  --bg-layer-1: var(--color-gray-100);
  --bg-layer-2: var(--color-gray-50);
}

:root.dark-mode {
  --color-gray-50: #000000;
  --color-gray-75: #0e0e0e;
  --color-gray-100: #1d1d1d;
  --color-gray-200: #303030;
  --color-gray-300: #4b4b4b;
  --color-gray-400: #6a6a6a;
  --color-gray-500: #8d8d8d;
  --color-gray-600: #b0b0b0;
  --color-gray-700: #d0d0d0;
  --color-gray-800: #ebebeb;
  --color-gray-900: #ffffff;

  /* BLUE */
  --color-blue-100: #002651;
  --color-blue-200: #00326a;
  --color-blue-300: #004087;
  --color-blue-400: #004ea6;
  --color-blue-500: #005cc8;
  --color-blue-600: #066ce7;
  --color-blue-700: #1d80f5;
  --color-blue-800: #4096f3;
  --color-blue-900: #5eaaf7;
  --color-blue-1000: #7cbdfa;
  --color-blue-1100: #98cefd;
  --color-blue-1200: #b3defe;
  --color-blue-1300: #ceeaff;

  --color-red-100: #570000;
  --color-red-200: #6e0000;
  --color-red-300: #8a0000;
  --color-red-400: #a70000;
  --color-red-500: #c40706;
  --color-red-600: #dd2118;
  --color-red-700: #ee4331;
  --color-red-800: #f9634c;
  --color-red-900: #ff816b;
  --color-red-1000: #ff9e8c;
  --color-red-1100: #ffb7a9;
  --color-red-1200: #ffcdc3;
  --color-red-1300: #ffdfd9;

  --color-green-100: #044329;
  --color-green-200: #004e2f;
  --color-green-300: #005c38;
  --color-green-400: #006c43;
  --color-green-500: #007d4e;
  --color-green-600: #008f5d;
  --color-green-700: #12a26c;
  --color-green-800: #2bb47d;
  --color-green-900: #43c78f;
  --color-green-1000: #5ed9a2;
  --color-green-1100: #81e9b8;
  --color-green-1200: #b1f4d1;
  --color-green-1300: #dffaea;

  --color-orange-100: #481801;
  --color-orange-200: #5c2000;
  --color-orange-300: #732b00;
  --color-orange-400: #8a3700;
  --color-orange-500: #a24400;
  --color-orange-600: #ba5200;
  --color-orange-700: #d26200;
  --color-orange-800: #e87400;
  --color-orange-900: #f98917;
  --color-orange-1000: #ffa23b;
  --color-orange-1100: #ffbc66;
  --color-orange-1200: #fdd291;
  --color-orange-1300: #ffe2b5;

  --color-celery-100: #002f07;
  --color-celery-200: #003d09;
  --color-celery-300: #004d0c;
  --color-celery-400: #005f0f;
  --color-celery-500: #00710f;
  --color-celery-600: #00840f;
  --color-celery-700: #009714;
  --color-celery-800: #0dab25;
  --color-celery-900: #2dbf3a;
  --color-celery-1000: #50d052;
  --color-celery-1100: #73e06b;
  --color-celery-1200: #93ed83;
  --color-celery-1300: #b4f7a2;

  --color-chartreuse-100: #202b00;
  --color-chartreuse-200: #2a3800;
  --color-chartreuse-300: #364800;
  --color-chartreuse-400: #425800;
  --color-chartreuse-500: #4f6900;
  --color-chartreuse-600: #5d7b00;
  --color-chartreuse-700: #6b8e00;
  --color-chartreuse-800: #7aa100;
  --color-chartreuse-900: #8ab403;
  --color-chartreuse-1000: #9ac60b;
  --color-chartreuse-1100: #aad816;
  --color-chartreuse-1200: #bbe829;
  --color-chartreuse-1300: #cdf648;

  --color-cyan-100: #002944;
  --color-cyan-200: #003658;
  --color-cyan-300: #00456c;
  --color-cyan-400: #005680;
  --color-cyan-500: #006793;
  --color-cyan-600: #0079a7;
  --color-cyan-700: #008cba;
  --color-cyan-800: #04a0cd;
  --color-cyan-900: #17b4dd;
  --color-cyan-1000: #39c7ea;
  --color-cyan-1100: #60d8f3;
  --color-cyan-1200: #86e6fa;
  --color-cyan-1300: #aaf2ff;

  --color-fuchsia-100: #460e44;
  --color-fuchsia-200: #5d095c;
  --color-fuchsia-300: #780078;
  --color-fuchsia-400: #920093;
  --color-fuchsia-500: #a913aa;
  --color-fuchsia-600: #bf2bbf;
  --color-fuchsia-700: #d341d5;
  --color-fuchsia-800: #e45be5;
  --color-fuchsia-900: #ef78ee;
  --color-fuchsia-1000: #f695f3;
  --color-fuchsia-1100: #fbaff6;
  --color-fuchsia-1200: #fec7f8;
  --color-fuchsia-1300: #ffdcfa;

  --color-indigo-100: #1a1d61;
  --color-indigo-200: #23277d;
  --color-indigo-300: #2e329e;
  --color-indigo-400: #3a3fbd;
  --color-indigo-500: #494ed8;
  --color-indigo-600: #5a60eb;
  --color-indigo-700: #6e73f6;
  --color-indigo-800: #8488fd;
  --color-indigo-900: #999dff;
  --color-indigo-1000: #aeb1ff;
  --color-indigo-1100: #c2c4ff;
  --color-indigo-1200: #d4d5ff;
  --color-indigo-1300: #e3e4ff;

  --color-magenta-100: #530329;
  --color-magenta-200: #6a0034;
  --color-magenta-300: #850041;
  --color-magenta-400: #a1004e;
  --color-magenta-500: #ba165d;
  --color-magenta-600: #d12b72;
  --color-magenta-700: #e34589;
  --color-magenta-800: #f1619c;
  --color-magenta-900: #fc7cad;
  --color-magenta-1000: #ff98bf;
  --color-magenta-1100: #ffb3cf;
  --color-magenta-1200: #ffcadd;
  --color-magenta-1300: #ffdde9;

  --color-purple-100: #321068;
  --color-purple-200: #430d8c;
  --color-purple-300: #5610ad;
  --color-purple-400: #6a1dc8;
  --color-purple-500: #7e31de;
  --color-purple-600: #9146ec;
  --color-purple-700: #a25ef6;
  --color-purple-800: #b277fa;
  --color-purple-900: #c08ffc;
  --color-purple-1000: #cea6fd;
  --color-purple-1100: #dbbcfe;
  --color-purple-1200: #e6cfff;
  --color-purple-1300: #f0e0ff;

  --color-seafoam-100: #122b2a;
  --color-seafoam-200: #133937;
  --color-seafoam-300: #104946;
  --color-seafoam-400: #035b58;
  --color-seafoam-500: #006c68;
  --color-seafoam-600: #007f79;
  --color-seafoam-700: #00928c;
  --color-seafoam-800: #00a59f;
  --color-seafoam-900: #1ab9b2;
  --color-seafoam-1000: #42cac3;
  --color-seafoam-1100: #66dad3;
  --color-seafoam-1200: #8be8e1;
  --color-seafoam-1300: #b3f2ed;

  --color-yellow-100: #4c3600;
  --color-yellow-200: #584000;
  --color-yellow-300: #674c00;
  --color-yellow-400: #775900;
  --color-yellow-500: #886800;
  --color-yellow-600: #9b7800;
  --color-yellow-700: #ae8900;
  --color-yellow-800: #c09c00;
  --color-yellow-900: #d3ae00;
  --color-yellow-1000: #e4c200;
  --color-yellow-1100: #f4d500;
  --color-yellow-1200: #f9e85c;
  --color-yellow-1300: #fcf6bb;

  --bg-base: var(--color-gray-50);
  --bg-layer-1: var(--color-gray-75);
  --bg-layer-2: var(--color-gray-100);
}

.test {
  --color-error-bg: #fff7f7;
}

.button {
  border: 0;
  padding: 1rem 1.6rem;
  border-radius: 19px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-blue-900);
  color: #fff;
  /* transition: all 0.3s; */
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-blue-1000);
}

.button:visited {
  /* down or pressed state */
  background-color: var(--color-blue-1100);
}

:root {
  --color-text-body: var(--color-gray-700);
  --color-error: var(--color-red-900);
  --color-success: var(--color-green-900);
  --color-primary: var(--color-blue-900);
  --color-pending: var(--color-orange-900);
  --color-warning: var(--color-yellow-600);

  --font-size-50: 1.1rem;
  --font-size-75: 1.2rem;
  --font-size-100: 1.4rem;
  --font-size-200: 1.6rem;
  --font-size-300: 1.8rem;
  --font-size-400: 2rem;
  --font-size-500: 2.2rem;
  --font-size-600: 2.5rem;
  --font-size-700: 2.8rem;
  --font-size-800: 3.2rem;
  --font-size-900: 3.6rem;
  --font-size-1000: 4rem;
  --font-size-1100: 4.5rem;
  --font-size-1200: 5rem;
  --font-size-1300: 6rem;

  --font-size-xxxl: var(--font-size-1300);
  --font-size-xxl: var(--font-size-1100);
  --font-size-xl: var(--font-size-900);
  --font-size-lg: var(--font-size-700);
  --font-size-md: var(--font-size-500);
  --font-size-sm: var(--font-size-300);
  --font-size-xs: var(--font-size-200);
  --font-size-xxs: var(--font-size-100);
  --font-size-base: var(--font-size-100);
}

@media (max-width: 48rem) {
  :root {
    --font-size-50: 1.3rem;
    --font-size-75: 1.5rem;
    --font-size-100: 1.7rem;
    --font-size-200: 1.9rem;
    --font-size-300: 2.2rem;
    --font-size-400: 2.4rem;
    --font-size-500: 2.7rem;
    --font-size-600: 3.1rem;
    --font-size-700: 3.4rem;
    --font-size-800: 3.9rem;
    --font-size-900: 4.4rem;
    --font-size-1000: 4.9rem;
    --font-size-1100: 5.5rem;
    --font-size-1200: 6.2rem;
    --font-size-1300: 7rem;
  }
}

.link {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--bg-layer-2);
  border-radius: 9px;
  text-decoration: none;
  color: var(--color-gray-700);
}

.link:hover {
  background-color: var(--bg-layer-1);
}
