/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

:root {
  --color-gray-50: #ffffff;
  --color-gray-75: #fdfdfd;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d5d5d5;
  --color-gray-400: #b1b1b1;
  --color-gray-500: #909090;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #464646;
  --color-gray-800: #222222;
  --color-gray-900: #000000;

  --color-blue-50: #e9f6fe;
  --color-blue-100: #e0f2ff;
  --color-blue-200: #cae8ff;
  --color-blue-300: #b5deff;
  --color-blue-400: #96cefd;
  --color-blue-500: #78bbfa;
  --color-blue-600: #59a7f6;
  --color-blue-700: #3892f3;
  --color-blue-800: #147af3;
  --color-blue-900: #0265dc;
  --color-blue-1000: #0054b6;
  --color-blue-1100: #004491;
  --color-blue-1200: #003571;
  --color-blue-1300: #002754;

  --color-red-100: #ffebe7;
  --color-red-200: #ffddd6;
  --color-red-300: #ffcdc3;
  --color-red-400: #ffb7a9;
  --color-red-500: #ff9b88;
  --color-red-600: #ff7c65;
  --color-red-700: #f75c46;
  --color-red-800: #ea3829;
  --color-red-900: #d31510;
  --color-red-1000: #b40000;
  --color-red-1100: #930000;
  --color-red-1200: #740000;
  --color-red-1300: #590000;

  --color-green-100: #cef8e0;
  --color-green-200: #adf4ce;
  --color-green-300: #89ecbc;
  --color-green-400: #67dea8;
  --color-green-500: #49cc93;
  --color-green-600: #2fb880;
  --color-green-700: #15a46e;
  --color-green-800: #008f5d;
  --color-green-900: #007a4d;
  --color-green-1000: #00653e;
  --color-green-1100: #005132;
  --color-green-1200: #053f27;
  --color-green-1300: #0a2e1d;

  --font-size-50: 1.1rem;
  --font-size-75: 1.2rem;
  --font-size-100: 1.4rem;
  --font-size-200: 1.6rem;
  --font-size-300: 1.8rem;
  --font-size-400: 2rem;
  --font-size-500: 2.2rem;
  --font-size-600: 2.5rem;
  --font-size-700: 2.8rem;
  --font-size-800: 3.2rem;
  --font-size-900: 3.6rem;
  --font-size-1000: 4rem;
  --font-size-1100: 4.5rem;
  --font-size-1200: 5rem;
  --font-size-1300: 6rem;

  --bg-base: var(--color-gray-100);
  --bg-layer-1: var(--color-gray-50);
  --bg-layer-2: var(--color-gray-75);

  --font-size-xxxl: var(--font-size-1300);
  --font-size-xxl: var(--font-size-1100);
  --font-size-xl: var(--font-size-900);
  --font-size-lg: var(--font-size-700);
  --font-size-md: var(--font-size-500);
  --font-size-sm: var(--font-size-300);
  --font-size-xs: var(--font-size-200);
  --font-size-xxs: var(--font-size-100);
  --font-size-base: var(--font-size-100);

  --font-family-body: "Poppins";
  --line-height-body: 1.5;
}

@media (max-width: 48rem) {
  :root {
    --font-size-50: 1.3rem;
    --font-size-75: 1.5rem;
    --font-size-100: 1.7rem;
    --font-size-200: 1.9rem;
    --font-size-300: 2.2rem;
    --font-size-400: 2.4rem;
    --font-size-500: 2.7rem;
    --font-size-600: 3.1rem;
    --font-size-700: 3.4rem;
    --font-size-800: 3.9rem;
    --font-size-900: 4.4rem;
    --font-size-1000: 4.9rem;
    --font-size-1100: 5.5rem;
    --font-size-1200: 6.2rem;
    --font-size-1300: 7rem;
  }
}

:root.dark-mode {
  --color-gray-50: #000000;
  --color-gray-75: #0e0e0e;
  --color-gray-100: #1d1d1d;
  --color-gray-200: #303030;
  --color-gray-300: #4b4b4b;
  --color-gray-400: #6a6a6a;
  --color-gray-500: #8d8d8d;
  --color-gray-600: #b0b0b0;
  --color-gray-700: #d0d0d0;
  --color-gray-800: #ebebeb;
  --color-gray-900: #ffffff;

  --color-blue-50: #01254f;
  --color-blue-100: #002651;
  --color-blue-200: #00326a;
  --color-blue-300: #004087;
  --color-blue-400: #004ea6;
  --color-blue-500: #005cc8;
  --color-blue-600: #066ce7;
  --color-blue-700: #1d80f5;
  --color-blue-800: #4096f3;
  --color-blue-900: #5eaaf7;
  --color-blue-1000: #7cbdfa;
  --color-blue-1100: #98cefd;
  --color-blue-1200: #b3defe;
  --color-blue-1300: #ceeaff;

  --color-red-100: #570000;
  --color-red-200: #6e0000;
  --color-red-300: #8a0000;
  --color-red-400: #a70000;
  --color-red-500: #c40706;
  --color-red-600: #dd2118;
  --color-red-700: #ee4331;
  --color-red-800: #f9634c;
  --color-red-900: #ff816b;
  --color-red-1000: #ff9e8c;
  --color-red-1100: #ffb7a9;
  --color-red-1200: #ffcdc3;
  --color-red-1300: #ffdfd9;

  --color-green-100: #044329;
  --color-green-200: #004e2f;
  --color-green-300: #005c38;
  --color-green-400: #006c43;
  --color-green-500: #007d4e;
  --color-green-600: #008f5d;
  --color-green-700: #12a26c;
  --color-green-800: #2bb47d;
  --color-green-900: #43c78f;
  --color-green-1000: #5ed9a2;
  --color-green-1100: #81e9b8;
  --color-green-1200: #b1f4d1;
  --color-green-1300: #dffaea;

  --bg-base: var(--color-gray-100);
  --bg-layer-1: var(--color-gray-50);
  --bg-layer-2: var(--color-gray-75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-body), sans-serif;

  /* background-color: var(--bg-base); */
  background-color: var(--bg-base);
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  line-height: var(--line-height-body);
}

.active {
  background-color: var(--color-layer-1);
}
